/* .reveal section img {
  border: 0;
  box-shadow: none;
}

.reveal section {
    display: block;
}

.reveal section h1 {
  text-align: left;
}

.reveal section h2 {
  text-align: left;
}

.reveal h3 {
  text-align: left;
}

.reveal p {
  text-align: left;
  font-size: large;
}

.reveal ul {
  display: block;
}

.reveal ol {
  display: block;
}

.reveal .paragraph {
  display: block;
}

.reveal .ulist {
  display: block;
} */
